<div mat-dialog-title>
  <h1>{{ getTitle() }}</h1>
</div>

<form action="">
  <div mat-dialog-content class="content">
    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>Nombre</mat-label>
        <input matInput type="text" formControlName="name" />
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput type="text" formControlName="email">
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>Telefono</mat-label>
        <input matInput type="text" formControlName="phone">
      </mat-form-field>
    </div>
  </div>
</form>
